@font-face {
  font-family: 'SecularOne';
  src: url('./SecularOne-Regular.woff') format('woff');
}

h1 {
  font-family: 'SecularOne';
  font-size: 60px;
}

.main-container {
  display: flex;
  flex-direction: row;
  font-family: 'SecularOne';
}

.main-container > div {
  margin: 0 50px;
  font-family: inherit;
}

h2 {
  font-size: 40px;
}

.recent-scores {
  flex-grow: 1;
  position: relative;
  font-family: inherit;
}

.add-score {
  flex-grow: 1;
}

.refresh {
  position: absolute;
  right: 0;
  top: 0;
  margin: 20px;
  font-family: inherit;
}

.scores-list {
  border: 1px solid black;
}

.scores-list ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.scores-list ul li {
  padding: 5px;
  height: 35px;
  font-size: 20px;
  line-height: 35px;
  font-family: inherit;
}

.scores-list ul li:nth-child(even) {
  background-color: #ddd;
}

.add-score-form {
  display: flex;
  flex-direction: column;
  width: 300px;
  font-family: inherit;
}

.input-text {
  margin-bottom: 20px;
  height: 40px;
  font-family: inherit;
}

.submit-button {
  width: 100px;
  margin-left: auto;
  font-family: inherit;
}
